<!--
====================================================================
This source code, its documentation and all appendant files
are protected by copyright law. All rights reserved.

Copyright, 2017 
Lhasa Limited

You may not modify, publish, transmit, transfer or sell, reproduce,
create derivative works from, distribute, perform, display, or in 
any way exploit any of the content, in whole or in part, except as 
otherwise expressly permitted in writing by the copyright owner.
====================================================================
-->
<body>
This package implements ... (insert package description here)
<p>
The <code>RemoveEmptyRowsModel</code> ... (short comments on the classes)
<p>
The <code>RemoveEmptyRowsDialog</code> ... (short comments on the classes)
<p>
More comments ...
<br>

</body>
